body {
  background-color: #202124;
  color: White;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.navigation-bar {
  background-color: #212121;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  display: inline-block;
}

/* Style the links inside the navigation bar */
.navigation-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navigation-bar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navigation-bar a.active {
  background-color: #9e9e9e;
  color: white;
}

video {
  height: 18%;
  width: 18%;
}

.index-img img {
  border-radius: 10px;
}

mark.red {
  color: #F44336;
  background: none;
}

.interests-img img {
  height: 50%;
  width: 50%;
}
